body {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  font-style: normal;
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--main-font-color);
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header {
  font-weight: var(--main-headers-font-weight);
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .header {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 8.3vw;
    padding-top: 6vh;
  }
  .menu-close-btn {
    position: absolute;
    top: 1.26vh;
    right: 3.125vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: 0px;
  }
  .menu-close-btn__icon {
    width: 8.3vw;
    height: 5vh;
    fill: var(--main-font-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-close-btn:hover .menu-close-btn__icon, .menu-close-btn:focus .menu-close-btn__icon {
    fill: var(--main-secondary-color);
  }
  .mobile-menu__nav-list {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-bottom: 38.4vh;
  }
  .mobile-menu__link {
    font-weight: var(--header-font-weight);
    font-size: 5vh;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .mobile-menu__link_current {
    color: var(--main-secondary-color);
  }
  .mobile-menu__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-bottom: 8vh;
  }
  .mobile-menu__tel {
    font-weight: var(--header-font-weight);
    font-size: 4.27vh;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--main-secondary-color);
  }
  .mobile-menu__email {
    font-weight: var(--header-font-weight);
    font-size: 3vh;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-additional-color);
  }
  .mobile-menu__social-links-list {
    display: flex;
    gap: 4.2vw;
  }
  .mobile-menu__social-link {
    font-weight: var(--header-font-weight);
    font-size: 2.26vh;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--main-secondary-color);
  }
}
@media screen and (min-height: 796px) {
  .menu-close-btn {
    top: 10px;
  }
  .menu-close-btn__icon {
    height: 40px;
  }
  .mobile-menu__link {
    font-size: 40px;
  }
  .mobile-menu__tel {
    font-size: 34px;
  }
  .mobile-menu__email {
    font-size: 24px;
  }
  .mobile-menu__social-link {
    font-size: 18px;
  }
}
@media screen and (min-height: 796px) and (min-width: 480px) {
  .mobile-menu__container {
    padding-left: 40px;
  }
  .menu-close-btn {
    right: 15px;
  }
  .menu-close-btn__icon {
    width: 40px;
  }
  .mobile-menu__social-links-list {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.modal-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: var(--main-headers-font-weight);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--colored-theme-main-color);
  background: var(--main-secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--button-hover-focus);
}

.logo {
  font-family: var(--logo-font);
  font-weight: var(--main-headers-font-weight);
  color: var(--main-secondary-color);
  font-size: var(--logo-font-size);
  line-height: 1.17;
}
.logo:visited {
  color: var(--main-secondary-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: var(--logo-font-size-desktop);
    line-height: 1.19;
  }
}
.social-links-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-basis: calc(100% - 7.5px);
}

.social-links-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-list__link:hover, .social-links-list__link:focus {
  background-color: var(--main-secondary-color);
}

.social-links-list__icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-list__link:hover .social-links-list__icon, .social-links-list__link:focus .social-links-list__icon {
  fill: var(--colored-theme-main-color);
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 93.75%;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: var(--colored-theme-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn-icon {
  width: 18px;
  height: 18px;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--main-secondary-color);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-wnd-form {
  display: flex;
  flex-direction: column;
}

.modal-wnd-inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-wnd-text {
  display: block;
  font-weight: var(--main-headers-font-weight);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-wnd-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-additional-color);
}

.modal-wdn-input-wrapper {
  display: block;
  position: relative;
}

.modal-wnd-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-wnd-input:focus {
  outline: none;
  border: 1px solid var(--main-secondary-color);
}

.modal-wnd-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--main-font-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-wnd-input:focus + .modal-wnd-input-icon {
  fill: var(--main-secondary-color);
}

.modal-wdn-comment {
  display: block;
  resize: none;
  height: 120px;
  padding: 12px 16px;
}
.modal-wdn-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-wnd-checkbox-string {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.terms-of-an-agreement-checkbox {
  display: block;
}

.terms-of-an-agreement-custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  cursor: pointer;
}
.terms-of-an-agreement-checkbox:focus ~ .terms-of-an-agreement-custom-checkbox {
  border-radius: 1px;
  box-shadow: 0 0 0 2px var(--main-secondary-color);
}

.terms-of-an-agreement-custom-checkbox-non-active {
  display: block;
}
.terms-of-an-agreement-checkbox:checked + .terms-of-an-agreement-custom-checkbox-non-active {
  display: none;
}

.terms-of-an-agreement-custom-checkbox-active {
  display: none;
}
.terms-of-an-agreement-checkbox:checked ~ .terms-of-an-agreement-custom-checkbox-active {
  display: block;
}

.terms-of-an-agreement-text {
  font-size: 12px;
  line-height: 1.17;
  margin-left: 8px;
  display: block;
  line-height: 1.71;
  color: var(--main-additional-color);
}

.terms-of-an-agreement-link {
  line-height: 1.71;
  color: var(--main-secondary-color);
}
.terms-of-an-agreement-link:visited {
  color: var(--main-secondary-color);
}

.modal-wnd-btn {
  align-self: center;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .modal-wnd-checkbox-string {
    margin-left: 14px;
  }
  .terms-of-an-agreement-text {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
  .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0px;
  }
  .burger-menu__icon-menu {
    width: 24px;
    height: 16px;
    fill: #000;
  }
  .navigation-container {
    justify-content: space-between;
  }
}
.page-header {
  border-bottom: 1px solid #eeeeee;
}

.navigation-container {
  display: flex;
  align-items: center;
}

.navigation-bar {
  display: flex;
  align-items: center;
}

.navigation-bar__logo {
  padding: 16px 0;
}

.logo__text_theme_light {
  color: var(--logo-header-secondary-color);
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .navigation-bar__logo {
    padding: 26px 0;
  }
  .nav-list {
    display: flex;
    column-gap: 50px;
  }
  .navigation-bar__nav-list {
    margin-left: 87px;
  }
  .nav-list__link {
    height: 100%;
    font-weight: var(--header-font-weight);
    line-height: 1.14;
    padding: 32px 0px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--main-secondary-color);
  }
  .nav-list__link_current {
    position: relative;
    color: var(--main-secondary-color);
  }
  .nav-list__link_current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--main-secondary-color);
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .navigation-bar__contacts-list {
    margin-left: auto;
  }
  .contacts-list__item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--main-additional-color);
    font-weight: var(--header-font-weight);
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list__item:hover, .contacts-list__item:focus {
    color: var(--main-secondary-color);
  }
  .contacts-list__icon {
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list__item:hover .contacts-list__icon, .contacts-list__item:focus .contacts-list__icon {
    fill: var(--main-secondary-color);
  }
}
@media screen and (min-width: 1200px) {
  .navigation-bar__logo {
    padding: 24px 0 25px 0;
  }
  .navigation-bar__nav-list {
    margin-left: 92px;
  }
  .contacts-list {
    flex-direction: row;
    gap: 30px;
  }
  .contacts-list__item {
    padding: 32px 0;
  }
}
.decision-for-your-bussiness {
  background-color: var(--bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/mobile/mobie-bg-img.jpg);
  background-size: cover;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .decision-for-your-bussiness {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/mobile/mobile-bg-img@2x.jpg);
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.hero-container__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--colored-theme-main-color);
}

@media screen and (min-width: 768px) {
  .decision-for-your-bussiness {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/tablet/tablet-bg-img.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .decision-for-your-bussiness {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/tablet/tablet-bg-img@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .decision-for-your-bussiness {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/desktop/desktop-bg-img.jpg);
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .decision-for-your-bussiness {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/desktop/desktop-bg-img@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-container__text {
    font-size: 44px;
    line-height: 1.36;
  }
}
.our-advantages-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.our-advantages-list__item {
  width: 450px;
}

.our-advantages-list__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% - 22.5px);
  height: 120px;
  background-color: var(--additional-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.our-advantages-list__icon {
  width: 70px;
  height: 70px;
}

.our-advantages-list__header {
  font-weight: var(--main-headers-font-weight);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.our-advantages-list__paragraph {
  line-height: 1.71;
  color: var(--main-additional-color);
}

@media screen and (min-width: 768px) {
  .our-advantages-list__item {
    width: 354px;
  }
  .our-advantages-list__header {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .our-advantages-section {
    padding-bottom: 0px;
  }
  .our-advantages-list__item {
    width: 270px;
  }
}
.what-we-are-doing {
  display: none;
}

@media screen and (min-width: 1200px) {
  .what-we-are-doing {
    display: block;
  }
  .what-we-are-doing-list {
    display: flex;
    justify-content: space-between;
  }
  .what-we-are-doing-list-item {
    position: relative;
  }
  .what-we-are-doing-overlay {
    position: absolute;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    font-weight: var(--main-headers-font-weight);
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--colored-theme-main-color);
    background-color: var(--bg-color-overlay);
  }
}
.our-team {
  background: var(--additional-bg-color);
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-team-card-name {
  padding: 30px 0;
}

.our-team-card {
  width: 450px;
  background: var(--colored-theme-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-name {
  font-weight: var(--header-font-weight);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.our-team-paragraphs {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-additional-color);
  margin-bottom: 16px;
}

.our-team-icon {
  fill: var(--main-social-links-color);
}

@media screen and (min-width: 768px) {
  .our-team-card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team-card {
    width: 270px;
  }
}
.our-clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-clients-list-item {
  width: 100%;
}

.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-social-links-color);
  border-radius: 4px;
  height: 92px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-link:hover, .our-clients-link:focus {
  border: 1px solid var(--main-secondary-color);
}

.clients-icon {
  fill: var(--main-social-links-color);
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-link:hover .clients-icon, .our-clients-link:focus .clients-icon {
  fill: var(--main-secondary-color);
}

@media screen and (min-width: 480px) {
  .our-clients-list-item {
    max-width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .our-clients-list-item {
    max-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .our-clients-list-item {
    max-width: 170px;
  }
}
@media screen and (max-width: 767px) {
  .filter-list {
    width: 326px;
    row-gap: 15px;
    justify-content: start;
    flex-wrap: wrap;
  }
}
.filter-list {
  display: flex;
  column-gap: 8px;
  margin-bottom: 40px;
}

.filter-button {
  font-family: var(--main-font);
  background: var(--additional-bg-color);
  border: 0px;
  border-radius: 4px;
  font-weight: var(--header-font-weight);
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover, .filter-button:focus {
  background-color: var(--main-secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--colored-theme-main-color);
}

.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-container {
  background: var(--colored-theme-main-color);
  width: 450px;
}

.portfolio-card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover, .portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-container-name {
  flex-grow: 1;
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-container-header {
  font-weight: var(--main-headers-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-container-paragraphs {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-additional-color);
}

.portfolio-card-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-secondary-color-overlay);
  color: var(--colored-theme-main-color);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover .portfolio-overlay, .portfolio-card-link:focus .portfolio-overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
  .portfolio-container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-container {
    width: 370px;
  }
}
@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    gap: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .address-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-contacts-list {
    align-items: center;
    gap: 8px;
  }
  .footer-social-links-section {
    align-items: center;
  }
  .mailing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.footer-logo-additional-color {
  color: var(--colored-theme-main-color);
}

.footer {
  background-color: var(--bg-color);
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-contacts {
  font-style: normal;
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
}

.footer-address {
  color: var(--colored-theme-main-color);
  line-height: 1.71;
}

.footer-contact {
  color: var(--footer-contact-font-color);
  line-height: 1.71;
}
.footer-contact:visited {
  color: var(--footer-contact-font-color);
}

.footer-social-links-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-social-links-paragraph {
  font-weight: var(--main-headers-font-weight);
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--colored-theme-main-color);
}

.social-links-list__link_footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links-list__icon_footer {
  fill: var(--colored-theme-main-color);
}

.mailing-name {
  font-weight: var(--main-headers-font-weight);
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--colored-theme-main-color);
}

.mailing-input {
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--colored-theme-main-color);
  padding-left: 16px;
}
.mailing-input:hover, .mailing-input:focus {
  outline: none;
}
.mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.mailing-btn {
  padding: 10px 28px;
}

.mailing-btn-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--colored-theme-main-color);
}

@media screen and (min-width: 480px) {
  .mailing-input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .address-section {
    margin-left: 76px;
  }
  .footer-social-links-section {
    margin-top: 5px;
    margin-left: 165px;
  }
  .mailing-section {
    margin-top: 60px;
    margin-left: 166px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
  }
  .address-section {
    width: 231px;
  }
  .footer-contacts-list {
    align-items: flex-start;
    gap: 9px;
  }
  .footer-social-links-section {
    align-items: flex-start;
    margin-left: 70px;
  }
  .mailing-section {
    margin-left: 93px;
  }
  .mailing-input {
    margin-top: 20px;
    width: 358px;
  }
}
:root {
  --main-font: "Roboto", sans-serif;
  --main-font-weight: 400;
  --main-font-size: 14px;
  --main-font-color: #212121;
  --main-secondary-color: #2196f3;
  --main-secondary-color-overlay: #2196f3e5;
  --main-additional-color: #757575;
  --colored-theme-main-color: #fff;
  --main-headers-font-weight: 700;
  --bg-color: #2f303a;
  --bg-color-overlay: #2f303acc;
  --additional-bg-color: #f5f4fa;
  --logo-font: "Raleway", sans-serif;
  --logo-font-size: 24px;
  --logo-font-size-desktop: 26px;
  --logo-header-secondary-color: #000;
  --header-font-weight: 500;
  --button-hover-focus: #188ce8;
  --footer-contact-font-color: rgba(255, 255, 255, 0.6);
  --main-social-links-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */