:root {
  --main-font: 'Roboto', sans-serif;
  --main-font-weight: 400;
  --main-font-size: 14px;
  --main-font-color: #212121;
  --main-secondary-color: #2196f3;
  --main-secondary-color-overlay: #2196f3e5;
  --main-additional-color: #757575;
  --colored-theme-main-color: #fff;
  --main-headers-font-weight: 700;
  --bg-color: #2f303a;
  --bg-color-overlay: #2f303acc;
  --additional-bg-color: #f5f4fa;
  --logo-font: 'Raleway', sans-serif;
  --logo-font-size: 24px;
  --logo-font-size-desktop: 26px;
  --logo-header-secondary-color: #000;
  --header-font-weight: 500;
  --button-hover-focus: #188ce8;
  --footer-contact-font-color: rgba(255, 255, 255, 0.6);
  --main-social-links-color: #afb1b8;
}
